<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luc.hci.emotext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
    <activity android:name="luc.hci.emotext.gui.ListOfFriends" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.NORMAL">
				</category>
			</intent-filter>
			
		</activity>
		<service android:name="luc.hci.emotext.service.MessagingService"></service>
		<activity android:name="luc.hci.emotext.gui.Login"  android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>
		<activity android:name="luc.hci.emotext.gui.PerformingMessaging"  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.NORMAL">
				</category>
			</intent-filter>
		</activity>
		
		
	<activity android:name="luc.hci.emotext.gui.SignUp" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
<activity android:name="luc.hci.emotext.gui.FriendAdder" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
<activity android:name="luc.hci.emotext.gui.WaitingListFriends" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
</application>


</manifest>

